body{
    background-image: url(../media/Menikmati-Keindahan-Indonesia.jpg);
    background-color: grey;
}
/*css nav*/
nav{
    text-align: center;

}
/* css footer */
footer{
    color: whitesmoke;
    background-color: black;
    text-align: center;
    height: 50px;
}