body{
    background-color: navy;
}
h1{
    color: grey;
    font-family: Arial, Helvetica;
    font-style: italic;
    font: bold;
}
img{
    width: 200px;
    height: 300px;;
}
pre{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    font : bold;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
}

footer{
    color: whitesmoke;
    background-color: black;
    text-align: center;
}