/*css body */
body{
    margin: 0;
    background-image: url("../pesona_alam_bromo.jpg");
    background-repeat: no-repeat;
    background-position: unset;
    height: 100%;
    background-size: 100%;
    background-attachment:fixed;
    
}
/*css top*/
.top , hr{
    background-color: black;
    color: grey;
    font-family: Arial, Helvetica;
    font-style: italic;
    font: bold;
    background-attachment: fixed;
    
}
h1{
    margin-left: 5px;
}
.a2021 {
    border: 0;
    margin-top: -20px;
}
/* css bio */
.bio{
    width: 80%;
    border:40px 20px 20px ;
    margin: auto;
}
.biodata{
    margin: auto;
}
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }
img{
    width: 230px;
    margin-top: 50px;
}

.profil{
    border: navy;
    width: 300px;
    border: 0px;
    padding-top:10px;
    padding-left: 265px;
    margin-top: -400px;
}
ul .phone{
    margin-top: 0px;
}

/* css tabel*/
.makul table, th, td {
    border: 1px solid black;
    border-collapse: separate ;
    text-align: left;
    margin: 10px;
}
.makul{
    margin: 20px;
}
table {
    border-spacing:0 ;
}
th, td {
    padding: 10px;
}
/* css footer */
footer{
    color: whitesmoke;
    background-color: black;
    text-align: center;
    margin: 0;
}